/*all*/

:root {
    font-family: Raleway;
    width: 960px;
    margin: auto;
}


/*head*/
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}

body{ 
    font: 14px sans-serif; 
}
.wrapper{ 
    display: flex;
    width: 360px; 
    padding: 20px;
    justify-content: center;
    align-content: center;
    background-color: blue ;
}
.S1{
    background-color: aqua;
}
