{% extends 'base.twig' %}
{% block aside %}
        {% for element in livres %}
        <div class="global">
            <div class="titre">
            <h2> {{element.titre}} </h2>
            </div>
        </div>    
        {% endfor %}
{% endblock aside %}

{% block main %}
{% endblock %}
