            {% extends "base.twig" %}

{% block main %}
            <section>
                <article>
                        <h3> Résultat de la recherche </h3>
                        {% for element in categorie %}

        <div class="ListeN1">
            <p class ="ListeN2" ><a href="categories_detail.php?id={{element.id_categorie}}">{{element.nom_categorie}}</a></li>
            <p>Quantité d'articles : {{element.total_produit}} </p>
            <img src"/{{element.image_categorie}}" alt"">
        </div>

                        {% endfor %}
                </article>

            </section>

            {% endblock main %}


