{% extends "base.twig" %}

{% block main %}
    {% for element in cat %}
    <section>
        <article>
            <h2>{{element.titre}}</h2>
            <form action={{element.phpaction}} method="post">
                <div class="form-group">
                    {% for item in element.form %}
                    <label>{{item.nom}}</label>
                    <input class="form-control"></input>
                    <span class="invalid-feedback"></span>
                    {% endfor %}
                </div>
    {% endfor %}  
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <input type="reset" class="btn btn-secondary ml-2" value="Reset">
                </div>
            </form>
        </article>
    </section>
{% endblock main %}