            {% extends "base.twig" %}

{% block main %}
            <section>
                <article>
                        <h3> Résultat de la recherche </h3>
                        {% for element in produit %}

        <ul class="ListeN1">
            <li class ="ListeN2" ><a href="produits_detail.php?id={{ element.id_produit }}">{{ element.nom_produit }}</a></li>
            <img src"/{{element.image_produit}}" alt"">
        </ul>

                        {% endfor %}
                </article>

            </section>

            {% endblock main %}


